<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
<div>
  <form action="/home" method="post">
    <h2>欢迎用户 {{.}}</h2>
    <button type="submit">退出账号</button>
  </form>
</div>
</body>
</html>