<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style.css">
	<title>Login Page</title>
</head>
<body>
	<div class="container" id="container">
		<form action="/login" method="post" class="form" id="login-form" onsubmit="return loginCheck()">
			<h2>登录</h2>
			<input type="text" id="login-username-input" name="username" placeholder="用户名" maxlength="100">
			<input type="password" id="login-password-input" name="password" placeholder="密码" maxlength="100">
			<div class="button-container">
				<button type="submit" id="login-button">登录</button>
				<button type="button" id="register-switch">没有账号，注册</button>
			</div>
		</form>
		<form action="/login" method="post" class="form" id="register-form" onsubmit="return registerCheck()">
			<h2>注册</h2>
			<input type="text" id="register-email-input" name="email" placeholder="注册邮箱" maxlength="100">
			<input type="text" id="register-username-input" name="username" placeholder="用户名" maxlength="100">
			<input type="password" id="register-password-input" name="password" placeholder="密码" maxlength="100">
			<div class="button-container">
				<button type="submit" id="register-button">注册</button>
				<button type="button" id="login-switch">已有账号，登录</button>
			</div>
		</form>
	</div>
	{{if .IsSuccess}}
	{{else}}<script>alert('{{.FailedMsg}}')</script>
	{{end}}
	<script>
		function loginCheck() {
			const form = document.getElementById('login-form')

			if (!form['login-username-input'].value) {
				alert('登录用户名不能为空')
				return false
			}
			if(!form['login-password-input'].value) {
				alert('登录密码不能为空')
				return false
			}
			return true
		}

		function registerCheck() {
			const form = document.getElementById('register-form')

			if (!form['register-email-input'].value) {
				alert('注册邮箱不能为空')
				return false
			}
			if (!form['register-username-input'].value) {
				alert('注册用户名不能为空')
				return false
			}
			if(!form['register-password-input'].value) {
				alert('注册密码不能为空')
				return false
			}
			return true
		}
	</script>
	<script src="/static/script.js"></script>
</body>
<footer></footer>
</html>